version: '3.8'

services:
  bot:
    build: .
    command: python main.py
    restart: always
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - tg_bot_perekupi_redis_data:/data

volumes:
  tg_bot_perekupi_redis_data:
